@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  background: linear-gradient(90deg, white, #dddddd);
  padding: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #444;
}

img {
  float: left;
  width: 100%;
  transform: translateX(-30%);
  shape-outside: polygon(40% 0%, 50% 50%, 70% 100%);
  shape-margin: 2rem;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 100%, 30% 100%);
          clip-path: polygon(30% 0, 70% 0, 100% 100%, 30% 100%);
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}
@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.7;
  }
}
p:first-child {
  margin-top: 0;
}